@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title> Inex2 </title>
</head>
<body>
     Hello! This is index2 view
</body>
</html>
